body {
	background-color:#e5e8e3;
}

.box {
	display:flex;
	justify-content:center;
	align:center;
	flex-direction:column;
	padding:15px;
	max-width:500px;
	margin:auto;
	box-shadow:0 0 25px #00000060;
	background-color:#fff;
	border-radius:15px;
}

.center {
	text-align:center;
}
p, li {
	color:#0f0f0f;
	font-size:16px;
	font-family:sans-serif;
}

ul {
	list-style-type: circle;
}

h1 {
	color:#2e2f30;
	font-size:24px;
	font-family:sans-serif;
}

h2 {
	color:#2e2f30;
	font-size:18px;
	font-family:sans-serif;
}

a {
	color:#577c3d;
	text-decoration:none;
	transition:0.5s ease;
}

a:hover {
	color:#82bc58;
	text-decoration:underline;
}

.img {
	width:150px;
	height:150px;
	object-fit:cover;
	border-style:solid;
	border-width:3px;
	border-color:#577c3d;
	border-radius:100px;
	box-shadow:0 0 25px #577c3d;
}

.imgbox {
	margin:auto;
}